<!--
  Generated template for the Invitation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'app.invite_friends' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <p>{{'app.you_can_invite' | translate}}</p>
    <p>Code: <span class="code">{{code}}</span></p>
    <p>PIN: <span class="code">{{pin}}</span></p>
    <hr class="gradient-line">
    <div *ngIf="'device' == platform">
        <ion-buttons>
            <button ion-button block color="secondary" (click)="copyToClipboard()">{{'app.copy_invitation' | translate}}</button>
            <!--<button ion-button block color="secondary" (click)="openMail()">Open Mail</button>-->
        </ion-buttons>
    </div>

    <div *ngIf="'browser' == platform">
        <ion-buttons>
            <button ion-button block color="secondary" (click)="openMailHref()">{{'app.open_mail' | translate}}</button>
        </ion-buttons>
    </div>


</ion-content>
