page-invitation {
  p {
    color: $decent-light;
    font-size: 1.9rem;

  }

  hr {
    color: $decent-light;
  }

  .center {
    text-align: center;
  }
  .code {
    font-weight: 300;
    font-family: $font-main;
    color: $light;
    padding: 0.2em 0;
  }
}
