// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
//  primary:    #387ef5,
  primary:    #459be8,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f9f9f9,
  dark:       #222,
  trans:      transparent,
  signal:     #22da4d,
  dark-decent:(
          base: #282828,
        contrast: #A0A0A0),
  dark-signal: (
      base: #282828,
      contrast: #22da4d
  )


);

$dark-light: #060102;
$dark-bright: #282828;
$dark-invert: #A0A0A0;
$signal: #22da4d;
$signal-decent: #07c734;

$chat-bubble: (
        background-left: #d7edf5,
        background-right: #cbebc3,

);

$background-color: $dark-light;
$background-ios-color: $background-color;
$background-md-color: $background-color;
$background-wp-color: $background-color;
$toolbar-background: $background-color;

$backdrop-color: $signal;

$text-color: #f9f9f9;

$tabs-background: $dark-bright;
$tabs-tab-color-inactive: $dark-invert;
//$tabs-tab-color-active: #1DB954;
$tabs-tab-color-active: $signal;

$tabs-md-tab-color-inactive: $dark-invert;
$tabs-md-tab-opacity: 1;

$tabs-ios-tab-color-inactive: $dark-invert;
$tabs-ios-tab-opacity: 1;

$tabs-wp-tab-color-inactive: $dark-invert;
$tabs-wp-tab-opacity: 1;

$toolbar-text-color: $dark-invert;
$toolbar-active-color: $dark-invert;
$toolbar-inactive-color: $dark-invert;

$toolbar-md-title-text-color: $dark-invert;
$toolbar-ios-title-text-color: $dark-invert;
$toolbar-wp-title-text-color: $dark-invert;

$toolbar-md-text-color: $dark-invert;
$toolbar-ios-text-color: $dark-invert;
$toolbar-wp-text-color: $dark-invert;

$toolbar-md-button-color: $signal;
$toolbar-ios-button-color: $signal;
$toolbar-wp-button-color: $signal;

$toolbar-md-button-font-size: 1.4rem;
$toolbar-ios-button-font-size: 1.4rem;
$toolbar-wp-button-font-size: 1.4rem;

//$item-md-divider-color: $dark-invert;
//$item-ios-divider-color: $dark-invert;
//$item-wp-divider-color: $dark-invert;
//
//$item-md-divider-background: $dark-invert;
//$item-ios-divider-background: $dark-invert;
//$item-wp-divider-background: $dark-invert;

$list-border-color: $dark-invert;

$list-md-border-color: $dark-invert;
$list-ios-border-color: $dark-invert;
$list-wp-border-color: $dark-invert;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Lobster|Poiret+One');
//@import url('../assets/fonts/lobster.otf');


;

