<!--
  Generated template for the ScheduleAdd page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>New Schedule</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h3>Add a new schedule</h3>
    <form [formGroup]="scheduleForm" (ngSubmit)="addSchedule(scheduleForm.value)" novalidate>
        <ion-item [class.error]="!name.valid && name.touched">
            <ion-label floating>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <p *ngIf="name.hasError('required') && name.touched"
           class="form-error">* A schedule name is required.
        </p>
        <p *ngIf="name.hasError('minlength') && name.touched"
           class="form-error">* A schedule name should have a least 5 characters.
        </p>

        <ion-item>
            <ion-label floating>Date</ion-label>
            <ion-datetime
                    min="{{minDate}}"
                    dayNames="{{dayNames}}"
                    dayShortNames="{{dayShortNames}}"
                    monthNames="{{monthNames}}"
                    monthShortNames="{{monthShortNames}}"
                    displayFormat="DDDD, DD.MM.YYYY - HH:mm"
                    pickerFormat="DDD, DD.MMM.YYYY - HH:mm"
                    formControlName="date"></ion-datetime>
        </ion-item>
        <p *ngIf="date.hasError('required') && date.touched"
           class="form-error">* A schedule date is required.
        </p>
        <p></p>

        <ion-list radio-group formControlName="type">
            <ion-list-header color="light">
                Type of schedule
            </ion-list-header>

            <ion-item>
                <ion-label>Single</ion-label>
                <ion-radio checked="true" value="single"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Weekly</ion-label>
                <ion-radio value="weekly"></ion-radio>
            </ion-item>

        </ion-list>

        <p *ngIf="type.hasError('required') && type.touched"
           class="form-error">* A schedule type is required.
        </p>

        <div padding>
            <button round color="secondary" ion-button type="submit" [disabled]="!scheduleForm.valid">Save</button>
        </div>
    </form>
</ion-content>
