<!--
  Generated template for the InvitationCheck page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'app.invites' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
        <form *ngIf="!showPin" [formGroup]="inviteForm" (ngSubmit)="checkCode(inviteForm.value)" novalidate>

            <p padding>{{'app.enter_invitation' | translate}}</p>

            <ion-item [class.error]="!code.valid && code.touched">
                <ion-label floating>Code</ion-label>
                <ion-input type="text" formControlName="code"></ion-input>

            </ion-item>
            <p *ngIf="code.hasError('required') && code.touched"
               class="form-error">* {{'app.invitation_code_required' | translate}}
            </p>
            <div padding>
                <button ion-button block color="secondary" type="submit">{{'app.send' | translate}}</button>
            </div>
        </form>

        <form *ngIf="showPin" [formGroup]="inviteForm" (ngSubmit)="checkPin(inviteForm.value)" novalidate>
            <p padding>{{'app.enter_pin' | translate}}<br>
             {{'app.added_to_group' | translate}} "{{group?.name}}" {{'app.after_entering_pin' | translate}}</p>
            <ion-item [class.error]="!pin.valid && pin.touched">
                <ion-label floating>PIN</ion-label>
                <ion-input type="text" formControlName="pin"></ion-input>
            </ion-item>
            <p *ngIf="pin.hasError('required') && pin.touched"
               class="form-error">* {{'app.invitation_pin_required' | translate}}
            </p>

            <div padding>
                <button ion-button block color="secondary" type="submit">{{'app.send' | translate}}</button>
            </div>
        </form>
</ion-content>
