<!--
  Generated template for the InvitationCheck page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Invites</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
        <form *ngIf="!showPin" [formGroup]="inviteForm" (ngSubmit)="checkCode(inviteForm.value)" novalidate>
            <p>Please enter invitation code</p>

            <ion-item [class.error]="!code.valid && code.touched">
                <ion-label floating>Code</ion-label>
                <ion-input type="text" formControlName="code"></ion-input>
            </ion-item>
            <p *ngIf="code.hasError('required') && code.touched"
               class="form-error">* An invitation code is required.
            </p>
            <div padding>
                <button ion-button round color="secondary" type="submit">Send</button>
            </div>
        </form>

        <form *ngIf="showPin" [formGroup]="inviteForm" (ngSubmit)="checkPin(inviteForm.value)" novalidate>
            <p>Please enter PIN</p>
            <p>You will be added to group {{group?.name}} after entering PIN</p>
            <ion-item [class.error]="!pin.valid && pin.touched">
                <ion-label floating>PIN</ion-label>
                <ion-input type="text" formControlName="pin"></ion-input>
            </ion-item>
            <p *ngIf="pin.hasError('required') && pin.touched"
               class="form-error">* Please enter correct PIN.
            </p>

            <div padding>
                <button ion-button round color="secondary" type="submit">Send</button>
            </div>
        </form>
</ion-content>
