// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.handwriting {
  font-family: 'Lobster', cursive;
}

.font-alternative {
  font-family: 'Bungee Shade', cursive;
}

.font-secondary {
  font-family: $font-secondary;
}

.font-logo {
  //font-family: 'Mrs Sheppards', cursive;
  //font-family: 'Kaushan Script', cursive;
  font-family: 'Poiret One', cursive;
}

h3 {
  color: $decent-light;

}




.logo {
  font-size: 4rem;
}

.main-menu {
  color: $dark-invert;
  font-size: 1.4rem;
  ion-icon{
    &:before{
      padding-right: 1.4rem;
    }
  }
}

ion-list-header{
  ion-icon{
    padding-right: 0.5rem;
  }
}

form {
  .form-error {
    padding-left: $content-padding
  }
}
